body{
    background-color: #002;
    color: white;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li{
    margin-left: 20px;
    color: blanchedalmond;

}